* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

section {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.shadow-border {
  transition: all 0.4s;
}

.shadow-border:hover {
  box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.562);
}

header .navbar.header__content {
  background-color: #1f2022;
  padding: 10px 0;
}

header .navbar.header__content .header__left {
  display: flex;
  color: #505763;
  font-size: 15px;
  font-weight: normal;
}

header .navbar.header__content .header__left .navbar-brand {
  align-self: center;
  width: 30%;
}

header .navbar.header__content .header__left .navbar-brand img {
  width: 150px;
}

header .navbar.header__content .header__right .navbar-nav {
  justify-content: space-between;
  width: 100%;
  position: relative;
}

header .navbar.header__content .header__right .navbar-nav .nav-item {
  align-self: center;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
  white-space: nowrap;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(243, 156, 7, 0.8);
  border-radius: 5px;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu {
  padding: 10px;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  transition: all 0.3s linear;
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgba(243, 156, 7, 0.5);
  transform: translateX(5%);
}

header .navbar.header__content .header__right .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover::before {
  content: "> ";
  color: #ff4f00;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .header__left .formSearch {
    flex-grow: 2;
  }
  .header__right .ude-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__left .categories,
  .header__left .formSearch {
    display: none;
  }
  .header__right .ude-menu,
  .header__right .ude-btnGroup {
    display: none;
  }
}

.carousel-indicators {
  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;
  margin-left: 0;
  margin-right: 0;
}

.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 4px solid white;
  line-height: 15px;
  text-align: center;
  background-color: transparent;
}

.carousel-indicators li.active {
  border: 4px solid #faa819;
}

.carousel-item__caption.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item__caption.carousel-caption .carousel-item__detail a {
  border: 1px solid white;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
}

.carousel-item__caption.carousel-caption .carousel-item__detail a:hover {
  background-color: #faa819;
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
}

.reasons__list .reasons__title {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
  width: 40%;
  background-color: #eaf3ff;
}

.reasons__list .reasons__item {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  overflow: hidden;
}

.reasons__list .reasons__item .reasons__info {
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.reasons__list .reasons__item .reasons__image {
  width: 50%;
  overflow: hidden;
}

.reasons__list .reasons__item .reasons__one {
  background: linear-gradient(45deg, #f39d07 0, #ff4f00 100%);
}

.reasons__list .reasons__item .reasons__two {
  background: linear-gradient(45deg, #29ea5f 0, #61c214 100%);
}

.reasons__list .reasons__item .reasons__three {
  background: linear-gradient(45deg, #151615 0, #6b6d69 100%);
}

.reasons__list .reasons__item .reasons__four {
  background: linear-gradient(45deg, #203e7d 0, #0a22f8 100%);
}

.reasons__list .reasons__item .reasons__five {
  background: linear-gradient(45deg, #f08 0, #ff4f00 100%);
}

.reasons__list .reasons__single {
  width: 20%;
}

.reasons__list .reasons__single .reasons__info {
  width: 100%;
}

.reasons__list .reasons__single .reasons__image {
  display: none;
}

.categories {
  padding: 70px;
}

.categories .categories__content {
  text-align: center;
}

.categories .categories__content h1 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
}

.categories .categories__content .categories__item {
  position: relative;
  margin-bottom: 25px;
}

.categories .categories__content .categories__item img {
  width: 100%;
  display: block;
}

.categories .categories__content .categories__item h4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.courses {
  margin-top: 25px;
}

.courses .courses__content {
  width: 95%;
  margin: 0 auto;
}

.courses .courses__content .courses__intro {
  padding-top: 50px;
}

.courses .courses__content .courses__intro h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.43;
}

.courses .courses__content .courses__tab .nav {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.courses .courses__content .courses__tab .nav .nav-item {
  position: relative;
}

.courses .courses__content .courses__tab .nav .nav-item .nav-link.active {
  border: none;
}

.courses .courses__content .courses__tab .nav .nav-item .nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #007791;
  position: absolute;
  bottom: 0;
  left: 0;
}

.courses .courses__content .courses__tab .nav .nav-item .nav-link {
  border: none;
  color: #505763;
  font-size: 15px;
  font-weight: normal;
}

.courses .courses__content .courses__tab .tab-content {
  margin-top: 25px;
}

.courses .courses__content .courses__tab .tab-content .courses__item .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.courses .courses__content .courses__tab .tab-content .courses__item .cart-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__rating {
  display: flex;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__rating .courses__star {
  color: #f4c150;
  font-size: 13px;
  font-weight: normal;
  margin-right: 10px;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__rating span:nth-child(2) {
  color: #686f7a;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__rating span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__price {
  text-align: right;
  margin-top: 10px;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__price .courses__oldPrice {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.courses .courses__content .courses__tab .tab-content .courses__item .courses__price .courses__newPrice {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
}

.numbers {
  padding: 70px 0;
  background-image: url(../../img/funfact_bg.png);
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.numbers::after {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  background-color: rgba(255, 81, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 5%;
  z-index: 2;
}

.numbers .numbers__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #ff4f00;
}

.feedback {
  background-color: #f2ede6;
  padding: 70px;
  text-align: center;
}

.feedback .feedback__content h2 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.feedback .feedback__content .feedback__tab .nav-tabs {
  border-bottom: none;
  justify-content: center;
}

.feedback .feedback__content .feedback__tab .nav-tabs .nav-link {
  border: 1px dashed #999;
  color: #000000;
  margin: 0 20px;
  border-radius: 50px;
  padding: 20px;
  min-width: 200px;
  font-size: 15px;
  transition: all 0.5s linear;
  background-color: transparent;
}

.feedback .feedback__content .feedback__tab .nav-tabs .nav-link.active {
  border-color: #ff4f00;
  color: #ff4f00;
}

.feedback .feedback__content .feedback__tab .nav-tabs .nav-link:hover {
  border-color: #ff4f00;
  color: #ff4f00;
}

.feedback .feedback__content .feedback__item {
  margin: 10px 0;
}

.feedback .feedback__content .feedback__item .card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f2ede6;
  border: none;
  padding: 20px;
}

.feedback .feedback__content .feedback__item .card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.feedback .feedback__content .feedback__item .card .feedback__item__content {
  text-align: center;
  height: 120px;
  padding: 10px 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
}

footer .footer__top {
  padding: 20px;
}

footer .footer__top .footer__menu ul {
  list-style: none;
}

footer .footer__top .footer__menu ul a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__top .footer__icon li {
  display: inline;
  padding: 10px;
}

footer .footer__top .footer__icon li i {
  font-size: 25px;
  margin-right: 10px;
}

footer .footer__top .footer__icon li i.fa-facebook-square {
  color: #007791;
}

footer .footer__top .footer__icon li i.fa-youtube {
  color: #ec5252;
}

footer .footer__top .footer__icon li i:hover {
  color: white;
}

footer .footer__bottom {
  padding: 20px;
  border-top: 1px solid #dedfe0;
}

footer .footer__bottom .footer__botLeft img {
  width: 150px;
  margin-right: 10px;
}

footer .footer__bottom .footer__botLeft p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  display: inline;
}

footer .footer__bottom .footer__botRight ul {
  list-style: none;
  text-align: right;
}

footer .footer__bottom .footer__botRight ul li {
  display: inline;
  padding: 10px;
}

footer .footer__bottom .footer__botRight ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}
/*# sourceMappingURL=main.css.map */