.services {
    background-color: $color-gray-1;
    .services__content {
        width: 80%;
        margin: 0 auto;
        padding: $pd-2 + 4;
        
        .services__item {
            background-color: $color-white-0;
            border: 1px solid $color-gray-2;
            padding: $pd-2 + 4;
            
            .services__icon {
                @include styleText($color-red-1, $fs-4, $fw-normal);
                margin-right: $mg-2;
            }

            .services__caption {
                padding-top: $pd-1;
                h3 {
                    @include styleText($color-black-0, $fs-2 - 1, $fw-bold-1);
                    margin-bottom: $mg-0 + 2;
                }
                p {
                    @include styleText($color-gray-4, $fs-0 + 1, $fw-bold-0 - 200);
                }
            }
        }
    }
}
