.students {
    margin-top: $mg-2;

    .students__content {
        width: 80%;
        margin: 0 auto;

        h3 {
            @include styleText($color-black-0, $fs-2 - 1, $fw-normal);
        }
        .students__course {
            .card-title {
                @include styleText($color-black-0, $fs-0, $fw-bold);
            }
            .cart-text {
                @include styleText($color-gray-4, $fs-1, $fw-normal);
            }
            .students__rating {
                display: flex;

                .students__star {
                    @include styleText($color-yellow, $fs-1, $fw-normal);
                    margin-right: $mg-1;
                }
                span:nth-child(2) {
                    @include styleText($color-gray-4, $fs-1, $fw-bold);
                    margin-right: $mg-1;
                }
                span:last-child {
                    @include styleText($color-gray-4, $fs-1, $fw-normal);
                }
            }
            .students__price {
                text-align: right;
                margin-top: $mg-1;

                .students__oldPrice {
                    @include styleText($color-gray-4, $fs-1, $fw-normal);
                    text-decoration: line-through;
                }
                .students__newPrice {
                    @include styleText($color-black-0, $fs-2, $fw-bold);
                }
            }
        }
    }

    
}